{% extends 'base.html' %}

{% block title %}Рецепты{% endblock %}

{% block content %}

<div>
    <ul>
    {% for recipe in recipes %}
        <li>
            Рецепт: {{ recipe.name }}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" width="50px">
            Автор: {{ recipe.author }}
            <a href="{% url 'view_recipe' recipe.pk %}">Подробнее</a>
            {% if recipe.author == user %}
            <a href="{% url 'edit_recipe' recipe.pk %}">Изменить</a>
            <a href="{% url 'delete_recipe' recipe.pk %}">Удалить</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}